@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
body {
    font-family: "Teachers", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #6E5BE2;
}

#weather-app {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

#city-input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #C8398F;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #C8398F;
}

#weather-result {
    margin-top: 20px;
}

#weather-result h2 {
    margin: 0;
}

#weather-result p {
    margin: 5px 0;
}
#weather-icon{
    width: 100px;
    position: relative;
    left: 100px;
}
